@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap");
html {
  max-width: 1900px;
  min-width: 300px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  display: grid;

  /* Breite der drei Spalten */

  grid-template-columns: 15% 70% 15%;

  /* Höhe der drei Zeilen*/

  grid-template-rows: 180px 1fr 100px;

  /* Alias für die Zellen */

  grid-template-areas:
    "header header header"
    "nav main div"
    "footer footer footer";
}

header {
  grid-area: header;
  background-color: #00144a;
  border-color: #153047;
  text-align: center;
  font: bold;
  font-size: 4rem;
  color: white;
}
.kaliul:not(:hover) .hide1,
.kaliul:focus .hide1,
.navlist2:not(:hover) .hide2,
.navilist2:focus .hide2 {
  display: none;
}

nav {
  grid-area: nav;
  border: 1px solid #000000;
  background-color: #153047;
  font-size: 1.75rem;
  text-align: left;
}
.navlist1 {
  border: 1px solid #000000;
  background-color: #007c9f;
  padding: 10px;
  list-style-type: none;
}

.navlink {
  color: #153047;
  text-decoration-line: none;
}
main {
  grid-area: main;
  border: 1px solid #000000;
  background-color: #f5f5f5;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
}
main div img {
  float: left;
  height: 20%;
  width: 20%;
}
article img {
  float: none;
  width: 50%;
  height: 50%;
}
aside {
  grid-area: div;
  border: 1px solid #000000;
  background-color: #153047;
  padding: 10px;
  margin-right: 0;
  font-size: 3rem;
}
.indexsidebar iframe {
  height: 15%;
  width: 75%;
  border: 0;
  padding: 15%;
}
.terminalsidebar iframe {
  height: 25%;
  width: 75%;
  border: 0;
}
.bashsidebar iframe {
  height: 30%;
  width: 75%;
  border: 0;
}
.msfconsolesidebar iframe {
  height: 35%;
  width: 70%;
  border: 0;
}
footer {
  grid-area: footer;
  margin: 0;
  border: 1px solid #000000;
  background-color: #f5f5f5;
  font-size: 1rem;
  color: #ff0000;
}
.impressum {
  float: inline-start;
}
.quelle {
  float: inline-end;
}
.quelle a {
  padding: 15px;
}
@media (max-width: 1200px) {
  html {
    font-size: 40.5%;
  }
  body {
    display: grid;

    /* Breite der drei Spalten */

    grid-template-columns: 80% 20%;

    /* Höhe der drei Zeilen*/

    grid-template-rows: 150px 100px 1fr 100px 100px;

    /* Alias für die Zellen */

    grid-template-areas:
      "header header"
      "nav nav"
      "main div"
      "footer footer";
    padding: 0px;
  }
  .kaliul:not(:hover) .hide1,
  .kaliul:focus .hide1,
  .navlist2:not(:hover) .hide2,
  .navilist2:focus .hide2 {
    display: block;
  }
  nav {
    border: none;
    margin: 0;
    padding: 0;
    background-color: #153047;
  }
  .kaliul {
    margin-left: 25%;
    padding: 0;
    list-style-type: none;
    float: right;
    position: absolute;
  }
  .hide1,
  .hide2 {
    margin-left: 10px;
    padding: 0;
    list-style-type: none;
    float: right;
    position: relative;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 31.25%;
  }
  body {
    padding: 0;
    display: grid;

    /* Breite der drei Spalten */

    grid-template-columns: 100%;

    /* Höhe der drei Zeilen*/

    grid-template-rows: 100px 50px 1fr 100px;

    /* Alias für die Zellen */

    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }
  .kaliul:not(:hover) .hide1,
  .kaliul:focus .hide1,
  .hide1:not(:hover) .hide2,
  .hide1:focus .hide2 {
    display: block;
  }
  .kaliul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
    position: absolute;
  }
  .hide1,
  .hide2 {
    margin-left: 5px;
  }

  aside {
    display: none;
  }
}
