@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');
html {
  max-width: 1900px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  padding: 10px;
  display: grid;

  /* Breite der drei Spalten */

  grid-template-columns: 20% 60% 20%;

  /* Höhe der drei Zeilen*/

  grid-template-rows: 200px 1fr 200px;

  /* Alias für die Zellen */

  grid-template-areas:
    "header header header"
    "nav main div"
    "footer footer footer";
}

/*
  }
  @media screen (max-width: 460px) and (max-height: 760px) {
    body {
      flex-direction: column;
      margin: 0;
      position: baseline;
      position: relative;
      border: 30px;
      border-color: #153047;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 0.5PX;
    }
  } */

header {
  grid-area: header;
  background-color: #00144a;
  border-color: #153047;
  text-align: center ;
  font: bold;
  font-size: 4rem;
  color: white;
  
}
.kali:not(:hover) .hide1, 
.kali:focus .hide1 ,
.hide1:not(:hover) .hide2, 
.hide1:focus .hide2 
{
  display: none;
}


nav {
  grid-area: nav;
  border: 1px solid #000000;
  background-color: #153047;
  padding: 10px;
  font-size: 3rem;

}
.navlist{
  border: 1px solid #000000;
  background-color: #007C9F;
  padding: 10px;
  list-style-type:none ;
 
  
}
.navlink{
  color: #153047;
  text-decoration-line: none ;
}:fi
main {
  grid-area: main;
  border: 1px solid #000000;
  padding: 10px;
  font-size: 2rem;
  
}
article img {
  margin: 0 ;
  width: 50%;
  height: 50%;
}

aside {
  grid-area: div;
  border: 1px solid #000000;
  background-color: #153047;
  padding: 10px;
  margin-right: 0;
  font-size: 3rem;
  
}

footer {
  grid-area: footer;
  margin: 0;
  border: 1px solid #000000;
  font-size: 1rem;
  color: #FF0000;
  text-align: center;
}
@media (max-width: 1200px) {
  
  html {
    font-size: 40.5%;
  }
  body {
   
    display: grid;

    /* Breite der drei Spalten */

    grid-template-columns: 80% 20%;

    /* Höhe der drei Zeilen*/

    grid-template-rows: 150px 100px 1fr 100px 100px;

    /* Alias für die Zellen */

    grid-template-areas:
      "header header"
      "nav nav"
      "main div"
      "footer footer";
      padding: 0px;
    }
  nav{
    border: none;
  background-color: #153047; 
  }
  nav ul{
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap;   
    justify-content: space-between

  }
}
@media (max-width: 900px) {
  
  html {
    font-size: 31.25%;
  }
  body {
    min-width: 420px;
    padding: 10px;
    display: grid;

    /* Breite der drei Spalten */

    grid-template-columns: 100%;

    /* Höhe der drei Zeilen*/

    grid-template-rows: 100px 100px 1fr 100px 100px;

    /* Alias für die Zellen */

    grid-template-areas:
      "header"
      "nav"
      "main"
      " div"
      "footer";
  }
  nav{
    border: none;
    background-color: #153047; 
    box-sizing: 200px;
  }
  nav ul{
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    padding: 0;   
    justify-content: space-between;
  

  }.kali:not(:hover) .hide1, 
  .kali:focus .hide1 ,
  .hide1:not(:hover) .hide2, 
  .hide1:focus .hide2 
  {
    display: contents;
  }
  
   aside iframe{
    width: 15%;
    height: 72%;
  }
 


}
